<h1>Weather Dashboard</h1>

<div class="row">
      <div class="col s12 m10">
        <div class="card">
          <div class="card-content">
            <section id="weather-dashboard">
              <section class='maximum-visibility-data'>
                <h4>Maximum Number of Trips on a Day</h4>
                <% @max_visibilities.each do |visibility| %>
                <p><%= "#{visibility} "%></p>
                <% end %>
              </section>
              <section class='minimum-visibility-data'>
                <h4>Minimum Number of Trips on a Day</h4>
                <% @min_visibilities.each do |visibility| %>
                <p><%= "#{visibility} "%></p>
                <% end %>
              </section>
              <section class='average-visibility-data'>
                <h4>Average Number of Trips on a Day</h4>
                <% @ave_visibilities.each do |visibility| %>
                <p><%= "#{visibility} "%></p>
                <% end %>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
