<h1>New Station</h1>
<form action="/stations" method="post">
  <label for="station[name]">Name<input type="text" name="station[name]"></input></label></br>
  <label for="station[dock_count]">Dock Count<input type="text" name="station[dock_count]"></input></label></br>
  <label for="station[city]">City<input type="text" name="station[city]"></input></label></br>
  <label for="station[installation_date]">Installation Date<input type="text" name="station[installation_date]"></input></label></br>
  <input type="submit" value="Submit"></input>
</form>
