<h1>New Trip</h1>

<div class='card-content'>
  <form action='/trips' method='post'>
    Start Station: <input type='text' name='trip[start_station]' /><br />
    End Station: <input type='text' name='trip[end_station]' /><br />
    Zipcode: <input type='text' name='trip[zipcode]' /><br />
    Start Date: <input type='text' name='trip[start_date]' /><br />
    End Date: <input type='text' name='trip[end_date]' /><br />
    Duration: <input type='text' name='trip[duration]' /><br />
    Bike Number: <input type='text' name='trip[bike]' /><br />
    Subscription Type: <input type='text' name='trip[subscription]' /><br />
    <input type='submit' value='Submit'/>
  </form>
</div>
