<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/application.css"> -->
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Bike Share</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/stations" class="waves-effect indigo btn">All Stations</a></li>
          <li><a href="stations/new" class="waves-effect indigo btn">Create Station</a></li>
          <li><a class="waves-effect waves-light btn">Button</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <div class="slider">
       <ul class="slides">
         <li>
           <img src="bikeshare_520.jpg"> <!-- random image -->
         </li>
         <li>
           <img src="bike_1.jpg"> <!-- random image -->
         </li>
         <li>
           <img src="bike_2.jpg"> <!-- random image -->
         </li>
         <li>
           <img src="bike_3.jpg"> <!-- random image -->
         </li>
       </ul>
     </div>

    <div class="container">
    <%= yield %>
    </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="background02.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <br/>
  <br/>

  <footer class="page-footer indigo">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Stars Wars Drill Team</h5>
          <p class="grey-text text-lighten-4">We are a team of Turing students working on this project like it's our full time job.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Site Map</h5>
          <ul>
            <li><a class="white-text" href="/stations">All Stations</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Courtney Meyerhofer, Katy Farmer and Daniel Olson</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type='text/javascript'>
    $(document).ready(function(){
       $('.slider').slider();
     });
   </script>


</body>
</html>
